
@import url('https://fonts.googleapis.com/css?family=Oswald');


.form-div {
     =margin: 5-px auto 80px;
     padding: 25px 15px 10px 15px;
     border: 1px solid #80ced7;
     border-radius: 5px;
     font-size: 1.1em;
     font-family: 'oswald' sans-serif;

}